# 本项目虚拟环境
venv/
*/venv/

# Python 编译缓存
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.whl

# 环境配置
.env
.env.local

# 运行缓存资源
data/audio_cache/*
data/embedding_cache/*
!data/audio_cache/.gitkeep
!data/embedding_cache/.gitkeep

# 日志、数据库临时文件
*.log
*.db
*.sqlite

# 视频大文件
*.mp4
*.avi
*.mov

# 系统文件
Thumbs.db
Desktop.ini
.DS_Store
._.DS_Store

# IDE配置
.idea/
*.iml
.vscode/
*.swp
*.swo

# 其他无关子项目
sadtalker/